@model CP.Models.RegisterUserModel

@{
    ViewBag.Title = "Register";
}

<div>
        @using(Html.BeginForm())
        {
            <table>
                <tr>
                    <td>@Html.LabelFor( m => m.Login )</td>
                    <td>@Html.EditorFor( m => m.Login )</td>
                    <td>@Html.ValidationMessageFor( m => m.Login )</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor( m => m.Email )</td>
                    <td>@Html.EditorFor( m => m.Email)</td>
                    <td>@Html.ValidationMessageFor( m => m.Email)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor( m => m.Password )</td>
                    <td>@Html.EditorFor( m => m.Password)</td>
                    <td>@Html.ValidationMessageFor( m => m.Password)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor( m => m.ConfirmPassword )</td>
                    <td>@Html.EditorFor( m => m.ConfirmPassword)</td>
                    <td>@Html.ValidationMessageFor( m => m.ConfirmPassword)</td>
                </tr>
            </table>
            <button type="submit">Register</button>
        }
    </div>
